# Database connection string
DATABASE_URI=mongodb://127.0.0.1/mehh

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE
PREVIEW_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=YOUR_SECRET_HERE
NEXT_PUBLIC_MEDIA_BASE_URL=YOUR_SECRET_HERE

SMTP_HOST=YOUR_SECRET_HERE
SMTP_PASS=YOUR_SECRET_HERE
SMTP_USER=YOUR_SECRET_HERE
