build
dist / media
node_modules
.DS_Store
.env
.env.local
.env.production
.next
.vercel
.idea
.vscode
db

# Payload default media upload directory
public/media/
src/public/media

tsconfig.tsbuildinfo

# OpenNext
.open-next
.wrangler
